<nav style="text-align:center">
    <button type="button" class="button_blue_gradient" style="margin: 10px" routerLink="/navigate/graphs/statsKDHS" (click)="onSelect(stat)">Show Stats</button>
    <button type="button" class="button_blue_gradient" style="margin: 10px" (click)="delete(stat)">Delete</button>
    <button type="button" class="button_blue_gradient" style="margin: 10px" (click)="refresh()">Refresh</button>
  </nav>
<table class="table table-bordered table-hover">
  <thead>
      <th>Name</th>
      <th sortable-column="ak">AK-47</th>
      <th sortable-column="id">M4A4</th>
      <th sortable-column="id">AWP</th>
      <th sortable-column="id">P90</th>
      <th sortable-column="id">AUG</th>
      <th sortable-column="id">DEGLE</th>
      <th sortable-column="id">GLOCK</th>
      <th sortable-column="id">KNIFE</th>
      <th sortable-column="id">FAMAS</th>
      <th sortable-column="id">KILLS</th>
      <th sortable-column="id">DEATHS</th>
      <th sortable-column="id">HS</th>
      <th sortable-column="id">ROUND WINS</th>

  </thead>
  <tbody>
      <tr (click)="selectStats(stat)" *ngFor="let stat of statsToShow">
          <td>{{stat.playerName}}</td>
          <td>{{stat.ak47_kills}}</td>
          <td>{{stat.m4a4_kills}}</td>
          <td>{{stat.awp_kills}}</td>
          <td>{{stat.p90_kills}}</td>
          <td>{{stat.aug_kills}}</td>
          <td>{{stat.deagle_kills}}</td>
          <td>{{stat.glock_kills}}</td>
          <td>{{stat.knife_kills}}</td>
          <td>{{stat.famas_kills}}</td>
          <td>{{stat.kills}}</td>
          <td>{{stat.deaths}}</td>
          <td>{{stat.hs}}</td>
          <td>{{stat.wins}}</td>
      </tr>
  </tbody>
</table>
