<head>
</head>
<body>


    <div class="container">
        <div class="row">
          <div class="col-md-2" id="accPanel">
            <app-user-panel></app-user-panel>
          </div>
          <div class="col-md-10">
            <div *ngIf="Logged"> 
                  <button routerLink="/signup" type="button" class="button_blue_gradient" style="margin: 10px">Register</button>
                  <button routerLink="/login" type="button" class="button_blue_gradient" style="margin: 10px">Login</button>
            </div>
              <app-search-bar></app-search-bar>
          </div>
        </div>
    </div>


  <script src="node_modules/chart.js/src/chart.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</body>

